* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  background-color: rgb(71, 62, 62);
  /* background-color: #2c3e50; */
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

h2 {
  padding: 10px;
  color: tomato;
  font-size: 60px;
  margin: 15px 0;
  border: 1px solid black;
  background-color: #ffffff;
}

#stopwatch {
  text-align: center;
}

.numbers {
  font-size: 150px;
  color: #ffffff;
  font-weight: bold;
}

.time {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}

.buttons {
  padding: 40px;
  text-align: center;
  margin-top: 40px;
}

.start {
  background-color: rgb(76, 214, 76);
  font-size: 30px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
}

.reset {
  background-color: Yellow;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
}

.stop {
  background-color: red;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
}
